---
export const prerender = false;

import Layout from "@/components/layouts/Layout.astro";

type Endpoint = {
    name: string;
    health: string;
    git: string;
};

const endpoints = [
    {
        name: "Linea - Test",
        health: "https://api-www-test.linea.no/health",
        git: "https://api-www-test.linea.no/__git-info",
    },
    {
        name: "Tensio - Test",
        health: "https://api-www-test.tensio.no/health",
        git: "https://api-www-test.tensio.no/__git-info",
    },
    {
        name: "Linea - Prod",
        health: "https://api-www.linea.no/health",
        git: "https://api-www.linea.no/__git-info",
    },
    {
        name: "Tensio - Prod",
        health: "https://api-www.tensio.no/health",
        git: "https://api-www.tensio.no/__git-info",
    },
    {
        name: "MS | Linea - Test",
        health: "https://api-minesaker-test.linea.no/health",
        git: "https://api-minesaker-test.linea.no/__git-info",
    },
    {
        name: "MS | Tensio - Test",
        health: "https://api-minesaker-test.tensio.no/health",
        git: "https://api-minesaker-test.tensio.no/__git-info",
    },
    {
        name: "MS | Linea - Prod",
        health: "https://api-minesaker.linea.no/health",
        git: "https://api-minesaker.linea.no/__git-info",
    },
    {
        name: "MS | Tensio - Prod",
        health: "https://api-minesaker.tensio.no/health",
        git: "https://api-minesaker.tensio.no/__git-info",
    },
] satisfies Endpoint[];

const results = await Promise.all(
    endpoints.map(async (endpoint) => {
        const [health, git] = await Promise.all([
            fetch(endpoint.health).then(async (x) => ({
                text: await x.text(),
                status: x.status,
            })),
            fetch(endpoint.git).then((x) => x.text()),
        ]);
        return {
            name: endpoint.name,
            health: health,
            git: git,
            datetime: new Date(),
        };
    }),
);

const formatter = new Intl.DateTimeFormat("no-nb", {
    year: "2-digit",
    month: "2-digit",
    day: "2-digit",
    hour: "2-digit",
    minute: "2-digit",
    second: "2-digit",
});
---

<Layout
    metadata={{
        title: "Uptime",
    }}
>
    <div class="col-[content] grid">
        {
            results.map((result) => {
                return (
                    <dl>
                        <dt class="font-bold">{result.name}</dt>
                        <dd
                            class:list={[
                                {
                                    "text-green-600": result.health.status == 200,
                                    "text-red-600": result.health.status != 200,
                                },
                            ]}
                        >
                            Status: <span>{result.health.status}</span>
                        </dd>
                        <dd>
                            Health: <span>{result.health.text}</span>
                        </dd>
                        <dd>
                            Git: <span>{result.git}</span>
                        </dd>
                        <dd>
                            Checked: <span>{formatter.format(result.datetime)}</span>
                        </dd>
                    </dl>
                );
            })
        }
    </div>
</Layout>
