---
export const prerender = false;

import Layout from "@/components/layouts/Layout.astro";

type Endpoint = {
    name: string;
    health: string;
    git: string;
};

function createBffEndpoint(name: string, baseUrl: string): Endpoint {
    return {
        name: name,
        health: baseUrl + "/health",
        git: baseUrl + "/__git-info",
    };
}

const endpoints = [
    createBffEndpoint(
        'Helgeland Kraft - Test',
        "https://helgeland-test-bff-open.azurewebsites.net"
    ),
    createBffEndpoint(
        "Linea - Test",
        "https://api-www-test.linea.no"
    ),
    createBffEndpoint(
        "Tensio - Test",
        "https://api-www-test.tensio.no"
    ),
    createBffEndpoint(
        "Linea - Prod",
        "https://api-www.linea.no"
    ),
    createBffEndpoint(
        "Tensio - Prod",
        "https://api-www.tensio.no"
    ),
    createBffEndpoint(
        "MS | Linea - Test",
        "https://api-minesaker-test.linea.no"
    ),
    createBffEndpoint(
        "MS | Tensio - Test",
        "https://api-minesaker-test.tensio.no"
    ),
    createBffEndpoint(
        "MS | Linea - Prod",
        "https://api-minesaker.linea.no"
    ),
    createBffEndpoint(
        "MS | Tensio - Prod",
        "https://api-minesaker.tensio.no"
    ),
] satisfies Endpoint[];

const results = await Promise.all(
    endpoints.map(async (endpoint) => {
        const [health, git] = await Promise.all([
            fetch(endpoint.health).then(async (x) => ({
                text: await x.text(),
                status: x.status,
                endpoint: endpoint.health
            })),
            fetch(endpoint.git).then(async (x) => ({
                text: await x.text(),
                endpoint: endpoint.git
            })),
        ]);
        return {
            name: endpoint.name,
            health: health,
            git: git,
            datetime: new Date(),
        };
    }),
);

const formatter = new Intl.DateTimeFormat("no-nb", {
    year: "2-digit",
    month: "2-digit",
    day: "2-digit",
    hour: "2-digit",
    minute: "2-digit",
    second: "2-digit",
});
---

<Layout
    metadata={{
        title: "Uptime",
    }}
>
    <div class="col- grid gap-8 py-4">
        {
            results.map((result) => {
                return (
                    <dl
                        class="group grid w-max grid-cols-2 rounded-2xl bg-neutral-300 p-4"
                        data-status={result.health.status}
                    >
                        <dt class="font-bold">{result.name}</dt>
                        <dd class="flex place-content-end font-semibold text-green-700 not-group-data-[status='200']:text-red-600">
                            <a href={result.health.endpoint}>{result.health.status}</a>
                        </dd>
                        <dd class="col-span-full">
                            Git: <a href={result.git.endpoint}>{result.git.text}</a>
                        </dd>
                        <dd class="col-span-full">
                            Checked: <span>{formatter.format(result.datetime)}</span>
                        </dd>
                    </dl>
                );
            })
        }
    </div>
</Layout>
