---
import SpeedInsights from "@vercel/speed-insights/astro";
import Analytics from "@vercel/analytics/astro";
import "src/global.css";

interface Props {
    metadata: {
        title: string;
        description?: string | undefined;
        image?: string;
        site_name?: string;
    };
}

const { metadata } = Astro.props;
---

<html lang="en">
    <head>
        <slot name="head-start" />
        <link href="/favicon.svg" rel="icon" type="image/svg+xml" />
        <link href="/sitemap-index.xml" rel="sitemap" />
        <title>{metadata.title}</title>
        <meta property="og:title" content={metadata.title}/>
        <meta property="twitter:title" content={metadata.title}/>
        <link href={Astro.url} rel="canonical" />
        <meta property="og:url" content={Astro.url}/>
        <meta property="og:site_name" content=`${metadata.site_name ?? "Kenny's Corner"}`/>
        <meta property="twitter:card" content="summary"/>
        {metadata.image && (
        <meta property="og:image" content={metadata.image}/>
        <meta property="twitter:image" content={metadata.image}/>
        )}
        <meta charset="utf-8" />
        <meta content="width=device-width" name="viewport" />
        <meta content="light" name="color-scheme"/>
        {metadata.description && (
        <meta content={metadata.description} name="description" />
        <meta property="og:description" content={metadata.description}/>
        <meta property="twitter:description" content={metadata.description}/>
        )}
        <slot name="head-meta" />

        <slot name="head-end" />
    </head>
    <body
        class="grid min-h-screen grid-cols-(--primary-grid-template-columns) grid-rows-[auto_1fr_auto] gap-x-(--primary-grid-column-gap) bg-stone-200"
    >
        <slot name="header">
            <header class="col-breakout grid h-12 grid-cols-subgrid items-center bg-stone-400 px-4">
                <a href="/" class="text-primary">&lt;KC&gt;</a>
            </header>
        </slot>
        <slot />
        <slot name="footer">
            <footer class="col-breakout grid h-12 content-center justify-items-end bg-stone-400 px-4">
                <pre class="text-primary">&lt;KC&#47;&gt;</pre>
            </footer>
        </slot>
        <SpeedInsights />
        <Analytics />
    </body>
</html>
